Repository nimblehq/js-framework-benchmark, pull requests merged in 2023-05, with the labels that each got.

#73 Release - 0.2.0
  .github/workflows/nextjs_12_test.yml
  nestjs/.env.sample
  nestjs/.eslintrc.js
  nestjs/.gitignore
  nestjs/.npmrc
  nestjs/.prettierrc
  nestjs/.tool-versions
  nestjs/Makefile
  nestjs/README.md
  nestjs/docker-compose.dev.yml
  nestjs/nest-cli.json
  nestjs/package-lock.json
  nestjs/package.json
  nestjs/prisma/migrations/20221103080954_create_users/migration.sql
  nestjs/prisma/migrations/migration_lock.toml
  nestjs/prisma/schema.prisma
  nestjs/src/app.controller.spec.ts
  nestjs/src/app.controller.ts
  nestjs/src/app.module.ts
  nestjs/src/app.service.ts
  nestjs/src/auth/auth.controller.spec.ts
  nestjs/src/auth/auth.controller.ts
  nestjs/src/auth/auth.error.ts
  nestjs/src/auth/auth.guard.ts
  nestjs/src/auth/auth.module.ts
  nestjs/src/auth/auth.service.spec.ts
  nestjs/src/auth/auth.service.ts
  nestjs/src/auth/client/google.client.ts
  nestjs/src/auth/strategies/google.strategy.ts
  nestjs/src/database.service.ts
  nestjs/src/main.ts
  nestjs/src/user/user.module.ts
  nestjs/src/user/user.service.spec.ts
  nestjs/src/user/user.service.ts
  nestjs/test/app.e2e-spec.ts
  nestjs/test/factories/axios.factory.ts
  nestjs/test/factories/user.factory.ts
  nestjs/test/jest-e2e.json
  nestjs/tsconfig.build.json
  nestjs/tsconfig.json
Labels: type : release

#76 [#37] Set up new Next.JS 13 application
  nextjs-13/.env.sample
  nextjs-13/.eslintrc.json
  nextjs-13/.gitignore
  nextjs-13/.tool-versions
  nextjs-13/README.md
  nextjs-13/next.config.js
  nextjs-13/package-lock.json
  nextjs-13/package.json
  nextjs-13/public/favicon.ico
  nextjs-13/src/components/.keep
  nextjs-13/src/context/.keep
  nextjs-13/src/helpers/.keep
  nextjs-13/src/lib/.keep
  nextjs-13/src/models/.keep
  nextjs-13/src/pages/.keep
  nextjs-13/src/pages/api/.keep
  nextjs-13/src/pages/index.tsx
  nextjs-13/src/repositories/.keep
  nextjs-13/src/services/.keep
  nextjs-13/src/stylesheets/.keep
  nextjs-13/tsconfig.json
  nextjs-13/yarn.lock
Labels: type : chore, next.js

#78 [#55] Set up remix application
  remix/.env.sample
  remix/.eslintrc.js
  remix/.gitignore
  remix/README.md
  remix/app/components/.keep
  remix/app/entry.client.tsx
  remix/app/entry.server.tsx
  remix/app/helpers/.keep
  remix/app/lib/.keep
  remix/app/root.tsx
  remix/app/routes/_index.tsx
  remix/app/services/.keep
  remix/app/stylesheets/.keep
  remix/app/tests/.keep
  remix/package-lock.json
  remix/package.json
  remix/public/favicon.ico
  remix/remix.config.js
  remix/remix.env.d.ts
  remix/tsconfig.json
Labels: type : chore, remix

#79 [#38] [Backend] As a user I can login with an OAuth provider
  nextjs-13/.env.sample
  nextjs-13/.gitignore
  nextjs-13/README.md
  nextjs-13/jest.config.js
  nextjs-13/package-lock.json
  nextjs-13/package.json
  nextjs-13/prisma/migrations/20230522041332_create_users/migration.sql
  nextjs-13/prisma/migrations/migration_lock.toml
  nextjs-13/prisma/schema.prisma
  nextjs-13/src/app/api/auth/[...nextauth]/route.ts
  nextjs-13/src/app/auth/sign-in/page.tsx
  nextjs-13/src/app/layout.tsx
  nextjs-13/src/app/page.tsx
  nextjs-13/src/config/auth.ts
  nextjs-13/src/config/database.ts
  nextjs-13/src/config/session.ts
  nextjs-13/src/lib/.keep
  nextjs-13/src/lib/error.ts
  nextjs-13/src/middleware.ts
  nextjs-13/src/models/.keep
  nextjs-13/src/models/user.model.ts
  nextjs-13/src/pages/.keep
  nextjs-13/src/pages/api/.keep
  nextjs-13/src/pages/index.tsx
  nextjs-13/src/repositories/.keep
  nextjs-13/src/repositories/user.repository.test.ts
  nextjs-13/src/repositories/user.repository.ts
  nextjs-13/src/services/.keep
  nextjs-13/src/services/auth/error.ts
  nextjs-13/src/services/auth/google.service.test.ts
  nextjs-13/src/services/auth/google.service.ts
  nextjs-13/test/database.ts
  nextjs-13/test/factories/profile.factory.ts
  nextjs-13/test/factories/user.factory.ts
  nextjs-13/test/jest.ts
  nextjs-13/tsconfig.json
  nextjs-13/yarn.lock
Labels: type : feature

#80 [#56] Create GitHub action CI workflow
  .github/workflows/remix_test.yml
  remix/.env.sample
  remix/.gitignore
  remix/Makefile
  remix/app/tests/_.index.test.tsx
  remix/app/tests/setup-test-env.ts
  remix/docker-compose.yml
  remix/jest.config.js
  remix/package-lock.json
  remix/package.json
  remix/prisma/migrations/20230522103936_init/migration.sql
  remix/prisma/migrations/migration_lock.toml
  remix/prisma/schema.prisma
Labels: type : chore, remix

#90 [#57] Backend as a user I can login with an Oauth provider
  remix/.env.sample
  remix/.eslintrc.js
  remix/Makefile
  remix/app/config/auth.server.ts
  remix/app/config/database.server.ts
  remix/app/config/session.server.ts
  remix/app/entry.client.tsx
  remix/app/entry.server.tsx
  remix/app/repositories/user.server.test.ts
  remix/app/repositories/user.server.ts
  remix/app/root.tsx
  remix/app/routes/_index.tsx
  remix/app/routes/auth.google.callback.tsx
  remix/app/routes/auth.google.tsx
  remix/app/routes/newsletters.tsx
  remix/app/services/.keep
  remix/app/services/auth.server.ts
  remix/app/tests/.keep
  remix/app/tests/_.index.test.tsx
  remix/app/tests/factories/user.factory.ts
  remix/app/tests/setup-test-env.ts
  remix/app/types/UserProfile.ts
  remix/app/types/index.ts
  remix/babel.config.js
  remix/jest.config.js
  remix/package-lock.json
  remix/package.json
  remix/prisma/migrations/20230526023630_init/migration.sql
  remix/prisma/schema.prisma
  remix/remix.config.js
Labels: type : feature, remix

#94 [#39] [Frontend] As a user I can login with an OAuth provider
  nextjs-13/.eslintrc.json
  nextjs-13/next.config.js
  nextjs-13/package-lock.json
  nextjs-13/package.json
  nextjs-13/src/app/api/auth/[...nextauth]/route.ts
  nextjs-13/src/app/api/v1/me/route.test.ts
  nextjs-13/src/app/api/v1/me/route.ts
  nextjs-13/src/app/app.tsx
  nextjs-13/src/app/auth/sign-in/page.test.tsx
  nextjs-13/src/app/auth/sign-in/page.tsx
  nextjs-13/src/app/layout.tsx
  nextjs-13/src/app/page.test.tsx
  nextjs-13/src/app/page.tsx
  nextjs-13/src/app/session-providers.tsx
  nextjs-13/src/components/.keep
  nextjs-13/src/components/AppLayout/index.test.tsx
  nextjs-13/src/components/AppLayout/index.tsx
  nextjs-13/src/components/AuthLayout/index.test.tsx
  nextjs-13/src/components/AuthLayout/index.tsx
  nextjs-13/src/components/Card/index.test.tsx
  nextjs-13/src/components/Card/index.tsx
  nextjs-13/src/components/Header/UserProfile.test.tsx
  nextjs-13/src/components/Header/UserProfile.tsx
  nextjs-13/src/components/Header/index.test.tsx
  nextjs-13/src/components/Header/index.tsx
  nextjs-13/src/config/auth.ts
  nextjs-13/src/config/session.ts
  nextjs-13/src/context/.keep
  nextjs-13/src/context/user.context.ts
  nextjs-13/src/lib/request/error.ts
  nextjs-13/src/lib/request/manager.test.ts
  nextjs-13/src/lib/request/manager.ts
  nextjs-13/src/middleware.ts
  nextjs-13/src/models/user.model.ts
  nextjs-13/src/services/auth/google.service.test.ts
  nextjs-13/src/services/auth/google.service.ts
  nextjs-13/src/stylesheets/.keep
  nextjs-13/src/stylesheets/application.scss
  nextjs-13/src/stylesheets/components/_app-header.scss
  nextjs-13/src/stylesheets/components/_card.scss
  nextjs-13/src/stylesheets/components/_index.scss
  nextjs-13/src/stylesheets/components/_user-profile.scss
  nextjs-13/src/stylesheets/layouts/_app.scss
  nextjs-13/src/stylesheets/layouts/_auth.scss
  nextjs-13/src/stylesheets/layouts/_default.scss
  nextjs-13/src/stylesheets/layouts/_index.scss
  nextjs-13/src/stylesheets/mixins/_chromeless.scss
  nextjs-13/src/stylesheets/mixins/_index.scss
  nextjs-13/test/jest.ts
  nextjs-13/yarn.lock
Labels: type : feature
